.burgerigredients{
    
    height: 290px;
    width: 100%;
    overflow: auto;
}
.burgerigredients p{
 text-align: center;
}
.ingredientsBolck{
    background-color: #f4b46c;
    margin: 10% auto 0;
    display: table;
    max-width: 200px;
    width: 100%;
    border-radius: 3px;
    padding: 20px;
    text-align: center;
}
p{
    text-align: center;
    padding: 0%;
    margin: 0%;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
}
.ingredientsBolck p{
    padding: 0%;
    margin: 0%;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
}
.ingrBtns{
    margin: 0 0 20px;
    display: flex;
    justify-content: space-between;
}
.ingrBtn{
    border: 0;
    background-color: #c17116;
    color: #fff;
    padding: 5px;
    cursor: pointer;
    display: table;
    width: 95px;
}
.topSide{
    
    background-image: url(../assets/top.jpg);
    background-size: 300px;
    height: 110px;
    width: 100%;
    display: table;
    background-repeat: no-repeat;
    background-position: center;

}
.bottomSide{
    background-image: url(../assets/bottom.jpg);
    background-size: 300px;
    height: 60px;
    width: 100%;
    display: table;
    background-repeat: no-repeat;
    background-position: center;
}
.lettuceSide{
    background-image: url(../assets/lettuse.jpg);
    background-size: 300px;
    height: 27px;
    width: 100%;
    display: table;
    background-repeat: no-repeat;
    background-position: center;
    margin: 3px 0 3px;
}
.cheeseSide{
    background-image: url(../assets/cheese.jpg);
    background-size: 300px;
    height: 15px;
    width: 100%;
    display: table;
    background-repeat: no-repeat;
    background-position: center;
    margin: 3px 0 3px;
}
.tomatoSide{
    background-image: url(../assets/tomato.jpg);
    background-size: 300px;
    height: 20px;
    width: 100%;
    display: table;
    background-repeat: no-repeat;
    background-position: center;
    margin: 3px 0 3px;
}
.meatSide{
    background-image: url(../assets/meat.jpg);
    background-size: 300px;
    height: 22px;
    width: 100%;
    display: table;
    border-radius: 33%;
    background-repeat: no-repeat;
    background-position: center;
    margin: 3px 0 3px;
}
.scroll-bg{
    /* background: green; */
    width: 400px;
    margin: 10% auto;
}
.scroll-div{
    width: 400px;
    /* background: red; */
    height: 300px;
    overflow: hidden;
    overflow-y: scroll;
    
}
.scroll-object{
 color:white;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 18px;
}