.navbar{
    background-color: #703B0B;
}
.navbar-brand{
    color: white;
    /* margin-right: 0px;
    margin-left: 0px; */
    padding-left: 0px;
    /* padding-right: 0px; */
}
    
img{
    margin-right: 1000px;
    height: 60px;
    width: 60px;
    border: 6px solid white;
    border-radius: 13px;
}